$background-color: #dedede;
$sombra: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$cinza: #6b6b6a;
$menu: #2d2c2c;
$white: #ffffff;
$black: #2d2c2c;

.corpo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2c2c;
}