$sombra: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$cinza: #6b6b6a;
$menu: #2d2c2c;
$white: #ffffff;
$black: #2d2c2c;
$body: #f5f5f5;

.not-gap {
    gap: 0 !important;
}

.title {
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
}

body {
    background-color: $body;

    .swal2-shown {
        overflow: hidden;
    }
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #ccc;

    &.hide {
        opacity: 0;
        pointer-events: none;
    }

    .loading {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-left-color: transparent;
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        animation: spin89345 1s linear infinite;
    }
}

.contentConta {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;

    .box {
        position: relative;
        z-index: 999;
    }

    .contaCrud {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        padding-left: 10rem;

        .contentForms {
            width: 60rem;
            padding: 2rem;
            box-shadow: $sombra;
            background-color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 1rem;

            .contentButton {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .newConta,
                .buscaConta,
                .buttonBack {
                    .buttonConta,
                    .buttonContaCond,
                    .buttonContaClose,
                    .return {
                        width: 10rem;
                        border: 0.2rem solid $black;
                        background-color: $white;
                        border-radius: 2rem;
                        padding: 0.5rem;
                        transition: 0.5s;

                        &.return {
                            padding: 0.5rem 2rem 0.5rem 2rem;
                            &:hover {
                                color: $white;
                            }
                        }

                        &.buttonContaCond {
                            width: 100%;
                        }

                        .text {
                            margin: 0;
                        }

                        &:hover {
                            background-color: $black;

                            .text {
                                color: $white;
                            }
                        }
                    }
                }
            }

            .formConta {
                width: 50rem;
                margin-top: 1rem;

                .contentInput {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0.5rem 0 0 0;
                    gap: 1rem;
                    position: relative;

                    .labelDate {
                        color: $black;
                        font-size: 1.125rem;
                        margin-bottom: -0.5rem;
                    }

                    input[type="date"] {
                        color: #575656;
                    }

                    .inputGroup {
                        position: relative;
                        width: calc(50% - 0.5rem);
                        display: inline-block;
                    }

                    .inputWrapper {
                        width: 100%;
                        border: 0.15rem solid $black;
                        background-color: $white;
                        border-radius: 1rem;
                        transition: 0.4s;
                        margin-top: 0.5rem;

                        &:focus,
                        &:valid {
                            outline: none;
                            box-shadow: none;
                            border-color: #0b57d0;
                        }

                        &:focus ~ .userLabel,
                        &:valid ~ .userLabel {
                            transform: translateY(-0.3rem) scale(0.8);
                            background-color: $white;
                            padding: 0 0.25em;
                            outline: none;
                            box-shadow: none;

                            p {
                                color: #0b57d0;
                            }
                        }

                        &.showConta {
                            &:not([value=""]) ~ .userLabel {
                                transform: translateY(-0.3rem) scale(0.8);
                                background-color: $white;
                                padding: 0 0.25em;
                                outline: none;
                                box-shadow: none;
                                border-color: #0b57d0;
                            }
                        }

                        &.placeholderActive {
                            border-color: $black !important;

                            ~ .userLabel {
                                transform: translateY(-0.3rem) scale(0.8);
                                background-color: $white;
                                padding: 0 0.25em;
                                outline: none;
                                box-shadow: none;

                                p {
                                    color: $black;
                                }
                            }
                        }
                    }

                    .userLabel {
                        position: absolute;
                        left: 15px;
                        pointer-events: none;
                        transform: translateY(1.2rem);
                        transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);

                        p {
                            opacity: 0.8;
                        }
                    }
                }

                .button {
                    margin-top: 1.5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    button {
                        width: 40%;
                        border: 0.2rem solid $black;
                        background-color: $white;
                        border-radius: 2rem;
                        padding: 0.5rem;
                        transition: 0.5s;

                        .text {
                            margin: 0;
                            color: $black;
                        }

                        &:hover {
                            background-color: $black;

                            .text {
                                color: $white;
                            }
                        }
                    }
                }

                .contaShowTable {
                    .subtitle {
                        font-weight: bold;
                        font-size: 1.4rem;
                        text-align: left;
                        margin: 0;
                        &:nth-of-type(2) {
                            margin-top: 1rem;
                        }
                    }

                    .tableHead {
                        table {
                            width: 100%;
                            margin-top: 0.5rem;
                            border-collapse: collapse;

                            thead {
                                tr {
                                    th {
                                        width: calc(100% / 4);
                                        text-align: center;
                                        border-top: 0.2rem solid $black;
                                        border-bottom: 0.2rem solid $black;
                                        font-size: 1rem;
                                    }
                                }
                            }
                        }
                    }

                    .tableBody {
                        height: 5rem;
                        overflow-y: auto;
                        overflow-x: hidden;

                        &::-webkit-scrollbar {
                            width: 0.3rem;
                        }

                        &::-webkit-scrollbar-track {
                            background-color: rgba($white, 0.2);
                        }

                        &::-webkit-scrollbar-thumb {
                            background: $black;
                        }

                        table {
                            width: 100%;
                            border-collapse: collapse;
                            tbody {
                                tr {
                                    &:not(:nth-of-type(1)) {
                                        border-top: 0.2rem solid $black;
                                    }
                                    td {
                                        width: calc(100% / 4);
                                        text-align: center;
                                        padding: 0.5rem;
                                        border-bottom: 0.2rem solid $black;

                                        &.acao {
                                            &:hover {
                                                background-color: $black;
                                                color: $white;
                                                text-decoration: underline;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .text {
                        padding: 0.5rem;
                        border-bottom: 0.1rem solid $black;
                        &:last-of-type {
                            margin-top: 1rem;
                            border-top: 0.1rem solid $black;
                        }
                    }
                }
            }

            .contentFormAcao {
                padding-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 90%;
                height: 100%;

                .editConta,
                .deleteConta {
                    width: 10rem;
                    height: 100%;
                    button {
                        width: 100%;
                        border: 0.2rem solid $black;
                        padding: 0.5rem;
                        margin: 0;
                        border-radius: 2rem;
                        transition: 0.4s;

                        &:hover {
                            background-color: $black;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}

@keyframes spin89345 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
