$c01: #2d2c2c;

section {
  &.footer {
    width: 100%;
    padding: 1.5rem;
    background-color: $c01;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;

      .det-left {
        .title {
          font-size: 1.5rem;
        } 

      }
      
      // .det-right {
      //   .title {
      //     font-size: 1.5rem;
      //   } 

      //   .text {

      //     font-weight: 400;  
      //   }
      // }
    } 
  }
}