$sombra: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$cinza: #6b6b6a;
$menu: #2d2c2c;
$white: #ffffff;
$black: #2d2c2c;
$body: #f5f5f5;

body {
  background-color: $body;
}

.contentFornecedor {
  display: flex;
  position: relative;

  .fornecedorCrud {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .formFornecedor {
      width: 40rem;

      .contentInput {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem 0 0 0;
        gap: 1rem;

        .label {
          color: $black;
          font-size: 1.125rem;
        }

        .inputWrapper {
          width: 100%;
          border: 0.15rem solid $black;
          background-color: transparent;

          &::placeholder {
            color: $black;
            font-size: 1.125rem;
          }

          &:focus {
            outline: none;
          }

          &.w50 {
            width: calc(50% - 0.5rem);
          }
        }
      }
    }
  }
}