$sombra: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$cinza: #6b6b6a;
$menu: #2d2c2c;
$white: #ffffff;
$black: #2d2c2c;
$body: #f5f5f5;

.not-gap {
  gap: 0 !important;
}

.text {
  font-size: 1.125rem;
}

body {
  background-color: $body;
}

.contentFuncionario {
  display: flex;
  position: relative;

  .funcionarioCrud {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .contentForms {
      width: 50rem;
      padding: 2.5rem;
      box-shadow: $sombra;
      background-color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 1rem;

      .contentButton {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .newFuncionario,
        .buscaFuncionario {
          button {
            width: 12rem;
            border: 0.2rem solid $black;
            background-color: $white;
            border-radius: 2rem;
            padding: 0.5rem;
            transition: 0.5s;

            .text {
              margin: 0;
            }

            &:hover {
              background-color: $black;

              .text {
                color: $white;
              }
            }
          }
        }
      }

      .formFuncionario {
        width: 40rem;
        margin-top: 1rem;

        .contentInput {
          display: flex;
          flex-wrap: wrap;
          margin: 0.5rem 0 0 0;
          gap: 1rem;

          &.radio {
            margin-top: 1rem;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            opacity: 0.8;
          }

          .label {
            color: $black;
            font-size: 1.125rem;
          }

          input[type="date"] {
            color: #575656;
          }

          .inputWrapper {
            width: 100%;
            border: 0.15rem solid $black;
            background-color: transparent;
            border-radius: 1rem;

            &::placeholder {
              color: $black;
              font-size: 1.125rem;
              opacity: 0.8;
            }

            &:focus {
              outline: none;
              box-shadow: none;
              border-color: #add8e6;
            }

            &.w50 {
              width: calc(50% - 0.5rem);
            }
          }
        }

        .button {
          margin-top: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            width: 40%;
            border: 0.2rem solid $black;
            background-color: $white;
            border-radius: 2rem;
            padding: 0.5rem;
            transition: 0.5s;

            .text {
              margin: 0;
              color: $black;
            }

            &:hover {
              background-color: $black;

              .text {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}